{% extends "control_freaks/base.html" %}
{% load static %}
{% block title %}Inform yourself - what can I do?{% endblock %}

{% block content %}

<div class="bg full-page" style="background-image: url(/static/control_freaks/images/blobs-background-1.svg);">
  <!------------------------ Heading ------------------------>
  <div class="container-fluid container-max heading">

    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1 class="center-text mb-3">what can I do?</h1>
      </div>
    </div>

  </div>

  <!------------------------ Content ------------------------>
  <div class="container-fluid container-max content">

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Free the Pill</p>
        <h3><a href='https://freethepill.org/act/'>Act: sign up to their mailing list to receive updates
            on their campaign, and other possible ways to get involved</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Medical Herstory</p>
        <h3><a href='https://medicalherstory.com/outreach'>Events and workshops: attend workshops and events that
            empower you to advocate for better medical treatment</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Change.org</p>
        <h3><a href='https://www.change.org/p/offer-better-pain-relief-for-iud-insertions-and-removals'>Sign the
            petition: IUD insertion/removal is notoriously painful – Lucy Cohen has been campaigning for this to
            change</a></h3>
      </div>
    </div>

  </div>
</div>

{% endblock %}