{% extends "control_freaks/base.html" %}
{% load static %}
{% block title %}Inform yourself - opinions{% endblock %}

{% block content %}

<div class="bg full-page" style="background-image: url(/static/control_freaks/images/blobs-background-1.svg);">

  <!------------------------ Heading ------------------------>
  <div class="container-fluid container-max heading">

    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1 class="center-text mb-3">opinion pieces</h1>
      </div>
    </div>

  </div>

  <!------------------------ Content ------------------------>
  <div class="container-fluid container-max content">

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Grazia</p>
        <h3><a href='https://graziadaily.co.uk/life/health-fitness/hormonal-contraception-mental-health/'>Hormonal
            contraception and mental health: how
            worried should you be?</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Grazia</p>
        <h3><a href='https://graziadaily.co.uk/life/real-life/side-effects-pill-2/'>Is your contraceptive pill
            causing you depression, anxiety and panic attacks? Debrief exclusive investigation</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>The Guardian</p>
        <h3><a
            href='https://www.theguardian.com/commentisfree/2016/oct/03/pill-linked-depression-doctors-hormonal-contraceptives'>The
            pill is linked to depression – and doctors can no longer ignore it</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Our Bodies Ourselves</p>
        <h3><a href='https://www.ourbodiesourselves.org/2020/05/free-the-pill/'>Free
            the Pill!</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Refinery29</p>
        <h3><a
            href='https://www.refinery29.com/en-us/2020/09/10016074/birth-control-pill-effects-on-brain'>Hysterical
            women: why is hormonal contraception still failing us?</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Hormones Matter</p>
        <h3><a href='https://www.hormonesmatter.com/'>Where health, hormones, and a whole bunch of other stuff, make
            sense</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Engender</p>
        <h3><a href='https://www.engender.org.uk/news/blog/guest-post-why-contraception-needs-a-me-too-moment/'>Why
            contraception needs a Me Too moment</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>The Conversation</p>
        <h3><a
            href='https://theconversation.com/birth-control-continues-to-fail-women-so-why-has-nothing-changed-164195'>Birth
            control continues to fail women – so why has nothing changed?</a></h3>
      </div>
    </div>


  </div>
</div>


{% endblock %}