{% extends "control_freaks/base.html" %}
{% block title %}Inform yourself - the furture{% endblock %}

{% block content %}

<div class="bg full-page" style="background-image: url(/static/control_freaks/images/blobs-background-1.svg);">

  <!------------------------ Heading ------------------------>
  <div class="container-fluid container-max heading">

    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1 class="center-text mb-3">the future</h1>
      </div>
    </div>

  </div>

  <!------------------------ Content ------------------------>


  <div class="container-fluid container-max content">

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Forbes</p>
        <h3><a
            href='https://www.forbes.com/sites/monicahaider/2021/04/09/this-woman-raised-over-400-million-for-a-hormone-free-contraceptive-gel-so-that-women-feel-empowered/?sh=2b44981c157d'>This
            woman raised over $400 million for a hormone-free contraceptive gel so that women feel
            empowered</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Parsemus Foundation</p>
        <h3><a href='https://www.parsemus.org/humanhealth/vasalgel/'>Vasalgel: future male contraception that will
            be long-acting, reversible and non-hormonal</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>STAT</p>
        <h3><a href='https://www.statnews.com/2018/10/24/precision-medicine-contraceptive-choice/'>Could precision
            medicine help women choose the right contraceptive?</a></h3>
      </div>
    </div>

    <!-- LINK -->
    <div class="row mb-5">
      <div class="col-sm-12 title text">
        <p>Nature</p>
        <h3><a href='https://www.nature.com/articles/d41586-020-03532-6'>Better birth control:
            innovative forms of contraception could offer more choice for controlling fertility</a></h3>
      </div>
    </div>


  </div>
</div>

{% endblock %}